,<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>
    <script>
        function myFunction() {
          confirm("Record will be deleted. Are you sure?");
        }
        </script>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        {% for content in lis %}
        <tr>
            <td> {{ content }} </td>
        </tr>
        {% endfor %}
        <tr>
    </table>
    <a href="/reset" onclick="myFunction()">Reset</a>
    <br /><br /><br /><br /><br />
    <small>Please click <b>refresh</b> button in your browser to accept new incoming scores</small><br />
    <small>click <b>"reset"</b> to remove all records</small><br />
    <small>Pop-Up screen will be shown when game ended</small><br />
    <small>The proof.png will be placed at local computer's folder</small><br />
</body>
</html>