,<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>
    <script>
        function myFunction() {
          confirm("Record will be deleted. Are you sure?");
        }
        </script>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        {% for content in lis %}
        <tr>
            <td> {{ content }} </td>
        </tr>
        {% endfor %}
        <tr>
    </table>
    <a href="/reset" onclick="myFunction()">Reset</a>
    <p>Please click refresh button in your browser to accept new incoming scores</p>
    <p>click "reset" to remove all records</p>
    <p>Pop-Up screen will be shown when game ended</p>
    <p>The proof.png will be placed at local computer's folder</p>
</body>
</html>